/******
  TAG
******/
body{
    background-color: #F6F1EE;
    font-family: 'Montserrat', sans-serif;
    font-size: 14.5;
    text-align: center;
    line-height: 2;
    margin-left: 50px;
    margin-right: 50px;
    height: 100%vh;
    padding-top: 20px;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
a:link, a:visited{
    text-decoration: none;
}
div, p{
    font-size: 14.5;
}
form{
padding-bottom: 25px;
}
/******
 CLASS
******/
.mc-field-group{
    padding: 10px; 
}
.email{
    margin-left: 10px; 
}
.button{
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: rgb(146, 146, 146);
    border-radius: 5px;
    padding: 5px 20px;
    border: 0px;
    margin-left: 10px;
}
.negrita{
    font-weight: bold;
}
.optionalParent{
    padding-top: 10px;
    padding-bottom: 10px;
}
/******
  ID
******/
#mc_embed_signup{
    display: inline;
    flex-direction: column;
    justify-content: center;
    background-color: #F6F1EE;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#mce_inline_error{
    width: 40px;
}
